header{
    padding-top: 31px;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    width: 100%;
    .header{
       @include flex-align-center;
        .logo{
            cursor: pointer;
            margin-right: 10px;
            &:hover{
                .logo-item-1{
                    display: none;
                }
                .logo-item-2{
                    display: flex !important;
                }
            }
            &-item{
                @include flex-align-center;
                &-2{
                    display: none;
                }
                img{
                    &:last-child{
                        margin-left: 17px;
                    }
                }
            }
        }
        &-content{
            margin-left: auto;
        }
        .nav{
            @include flex-align-center;
            li{
                margin-right: 48px;
                a{
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 17px;
                    color: $violet;
                    &:hover{
                        color: $white;
                    }

                }
            }
        }
        .active{
            .close{
                display: block !important;
            }
            .menu-icon{
                display: none;
            }
            ul{
                display: block !important;
            }
        }
        .menu-btn{
            order: 3;
            .close{
                display: none;
            }
            ul{
                position: absolute;
                background-color: $menu-btn;
                right: 0;
                left: 0;
                margin: 0 15px;
                margin-top: 26px;
                display: none;
                li{
                    border-bottom: 2px solid #434343;
                    padding: 25px 34px;
                    @include flex-align-center;
                    &:last-child{
                        border-bottom: none;
                    }
                    a{
                        font-size: 26px;
                        line-height: 26px;
                        color: $white;
                        text-decoration: none;
                    }
                    &:active{
                        &::before{
                            content: "";
                            width: 8px;
                            height: 53px;
                            background-color: $violet;
                            position: absolute;
                            left: 0;
                        }
                        a{
                            color: $violet;
                        }
                    }
                }
            }
        }
        .btn{
            width: 145px;
        }
    }
}
