main{
    .main{
        position: relative;
        background-color: $black;
        background-image: url(../img/main-img.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position: center bottom;
        &-content{
            padding: 183px 0 451px 0;
            @include flex-center-column;
            p{
                font-family: 'Lato', sans-serif;
                font-size: 30px;
                line-height: 30px;
                color: $violet;
                margin: 19px 0;
                text-align: center;
            }
            span{
                font-size: 16px;
                line-height: 16px;
                color: $grey;
            }
        }
        .btn-wrapper{
            position: absolute;
            bottom: -62px;
            @include flex-center-column;
            .btn{
                margin-bottom: 19px;
                width: 390px;
            }
            label{
                font-size: 14px;
                line-height: 15px;
                color: $grey;
            }
        }
    }
    .revolutionary-block{
        padding: 129px 0 70px 0;
        @include flex-center-column;
        p{
            font-family: 'Lato';
            max-width: 822px;
            margin: 25px 0 25px 0;
            font-size: 21px;
            line-height: 32px;
            color: $dark-grey;
            text-align: center;
        }
    }
   .features-block{
    padding: 98px 0 33px 0;
    background-color: $bg-grey;
        .features{
        display: grid;
        grid-template: auto / repeat(2, 1fr);
        gap: 76px 0;
        h3{
            color: $violet;
            position: relative;
            width: max-content;
            margin-bottom: 20px;
            &::before{
                content: "<";
                margin-right: 2px;
            }
            &::after{
                content: ">";
                margin-left: 2px;
            }
        }
        &-item{
            .item{
                display: flex;
                margin-bottom: 34px;
                .img{
                    flex: 0 0 21%;
                }
                .text{
                    max-width: 378px;
                    .title{
                        font-size: 16px;
                        line-height: 21px;
                        color: $dark-grey;
                        margin-bottom: 16px;
                    }
                    p{
                        font-size: 14px;
                        line-height: 21px;
                        color: $grey;
                    }
                }
            }
            &-editor{
                h3{
                    margin-left: 30px;
                }
                .editor{
                    height: 86%;
                }
            }
        }
    }
   }
   .testmonials-block{
       background-image: url(../img/testmonials-bg.png);
       background-repeat: no-repeat;
       background-size: cover;
       background-position-x: center;
       background-position-y: bottom;
       padding: 108px 0 29px 0;
       .container{
           @include flex-center-column;
       }
       .testmonials{
           display: grid;
           grid-template: auto / repeat(3, 1fr);
           gap: 116px 87px;
           margin: 85px 0 118px;
           &-item{
            @include flex-center-column;
            p{
                font-family: 'Lato';
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: $white;
                text-align: center;
                margin-top: 30px;
            }
           }
       }
       .description{
        font-family: 'Lato';
        max-width: 859px;
        font-size: 14px;
        line-height: 21px;
        color: $light-grey;
        text-align: center;
       }
   }
   .pricing{
       background-image: url(../img/layer-2.png);
       background-repeat: no-repeat;
       background-size: cover;
       margin-top: -11px;
       padding: 0 0 130px 0;
       .container{
           @include flex-center-column;
       }
       .line{
           width: 60%;
           height: 2px;
            background: $bg-line;
            margin-bottom: 112px;
       }
       .card{
        display: grid;
            grid-template: auto / repeat(4, 1fr);
           gap: 71px 15px;
           margin-top: 112px;
           padding: 0 50px;
           .active{
            height: 560px;
            margin-top: -41px;
            background-color: #4B3449;
               .card-item{
                   position: relative;
                   &-top{
                       background-color: #402D41;
                   }
                   &-content{
                       .price{
                        font-size: 82px;
                        line-height: 90px;
                       }
                   }
               }
           }
           &-item{
            background: #ffffff17;
            padding-bottom: 36px;
            height: 460px;
            flex: 0 0 24%;
            @include flex-center-column;
               &-top{
                height: 97px;
                background-color: #ffffff1a;
                width: 100%;
                @include flex-center;
                span{
                    font-size: 24px;
                    line-height: 24px;
                    text-transform: uppercase;
                    color: $white; 
                }
               }
               &-content{
                   padding: 30px 20px 0 20px;
                @include flex-center-column;
                   color: $white;
                   .price{
                    font-size: 60px;
                    line-height: 90px;
                   }
                   label{
                    font-size: 14px;
                    line-height: 16px;
                    text-transform: uppercase;
                   }
                   .description{
                    font-size: 15px;
                    line-height: 18px;
                    text-align: center;
                    margin-bottom: 36px;
                   }
                   .line-card{
                    width: 60px;
                    height: 5px;
                    margin: 38px 0 36px 0 ;
                    background-color: $violet;
                   }
               }
               .btn{
                width: 163px;
                border: none;
                background-color: $btn-card;
                margin-top: auto;
                text-transform: uppercase;
                margin-top: auto;
               &:hover{
                color: $white;
               }
            }
           }
       }
   }
}