@media  (min-width: 481px) and (max-width: 992px) {
    h1{
        font-size: 72px !important;
        line-height: 72px !important;
    }
    h2{
        font-size: 42px !important;
        line-height: 42px !important;
    }
    h3{
        font-size: 42px !important;
        line-height: 44px !important;
        text-align: center;
    }
    .hide-mb{
        display: none;
    }
    .show-mb{
        display: block !important;
    }
header{
    background-color: $bg-header-mb;
    padding-top: 0 !important;
    .header{
        flex-wrap: wrap;
        padding: 18px 0;
        .logo{
            margin-right: auto;
        }
     &-content{
         order: 3;
         margin-left: inherit !important;
         margin-top: 5px;
         width: 100%;
         display: flex;
         justify-content: center;
     }
     .btn{
         order: 2;
         margin-left: auto;
     }
    }
}
main{
    .main{
        p{
            font-size: 24px !important;
            line-height: 24px !important;
        }
        span{
            font-size: 14px !important;
            line-height: 14px !important;
        }
    }
    .revolutionary-block{
        padding: 93px 0 0 0;
    }
    .features-block{
        background-color: transparent;
        padding-bottom: 20px;
        .features{
            display: block;
            &-item{
                @include flex-center-column;
                h3{
                    margin-bottom: 50px;
                }
                .img{
                    flex: 0 0 15% !important;
                }
                .list{
                    width: 100%;
                    margin-bottom: 42px;
                    .text{
                        max-width: 100% !important;
                    }
                }
            }
        }
    }
    .testmonials-block{
        background-position-x: center;
        .testmonials{
            grid-template: auto / repeat(2, 1fr);
            gap: 58px 63px;
            margin-bottom: 68px;
        }
        .description{
            max-width: 91%;
        }
    }
    .pricing{
        padding-bottom: 94px;
        .line{
            margin-bottom: 88px;
        }
        .card{
            grid-template: auto / repeat(2, 1fr);
            gap: 71px 25px;
            margin-top: 39px;
            padding: 0 105px !important;
            .active{
                margin-left: -30px;
            }
        }
    }
}
}
@media (min-width: 320px) and (max-width: 480px) { 
    h1{
        font-size: 48px !important; 
        line-height: 48px !important;
    }
    h2{
        font-size: 26px !important;
        line-height: 28px !important;
    }
    h3{
        font-size: 32px !important;
        line-height: 38px !important;
        text-align: center;
    }
    .show-mb{
        display: block !important;
    }
   header{
       padding-top: 0 !important;
       background-color: $bg-header-mb;
    .header{
        flex-wrap: nowrap !important;
        justify-content: space-between !important;
        padding: 18px 0 !important;
        .logo{
            margin-right: 0 !important;
        }
        .logo-item{
            img{
                &:last-child{
                    display: none !important;
                }
            }
        }
        &-content{
            display: none !important;
        }
        .btn{
            margin-left: inherit !important;
        }
        .menu-btn {
            display: block !important;
        }
    }
   }
    main{
        .main{
            p{
                font-size: 18px !important;
            }
            .btn-wrapper{
                width: 100%;
                padding: 0 15px;
                .btn{
                    width: 100%;
                    height: 45px;
                    font-size: 18px !important;
                    line-height: 20px !important;
                }
            }
        }
        .revolutionary-block{
            padding-bottom: 0;
            p{
                font-size: 14px !important;
                line-height: 20px !important;
            }
        }
        .features-block{
            background-color: $white;
            padding-bottom: 20px !important;
            h3{
                width: auto !important;
            }
            .features{
                display: block;
                &-item{
                        .item{
                            @include flex-center-column;
                            .text{
                                text-align: center;
                                margin-top: 27px;
                            }
                    }
                    &-editor{
                        h3{
                            display: none;
                        }
                    }
                }
            }
        }
        .testmonials-block{
            h3{
                text-align: center;
            }
            .testmonials{
                grid-template: auto / repeat(1, 1fr) !important;
                gap: 45px 63px !important;
                margin: 53px 0 37px 0 !important;
            }
            .description{
                max-width: 91%;
            }
        }
        .pricing{
            padding-bottom: 20px !important;
            .line{
                width: 98% !important;
                margin-bottom: 15px !important;
            }
            .card{
                grid-template: auto / repeat(1, 1fr) !important;
                gap: 18px 25px !important;
                margin-top: 32px !important;
                padding: 0 20px 0 20px;
                .active{
                    height: 460px !important;
                    margin-top: 0;
                    margin: 0 -20px 0 -20px !important;
                }
            }
        }
    }
}


