$bg-body: #FFFFFF;
$color-h2: #635C73;
$white: #FFFFFF;
$violet: #8D81AC;
$grey: #848E97;
$black: #000000;
$dark-grey: #323232;
$bg-grey: #F4F4F4;
$light-grey: #A291A5;
$bg-line: #645766;
$btn-card: #ffffff1a;
$bg-header-mb: #27262A;
$btn-hover: #8D81AC;
$menu-btn: #333333;